.date-picker {
  position: absolute;
  display: table;
  margin-top: 0.5rem;
  font-size: 14px;
  background-color: #fff;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.date-picker table {
  font-size: 14px;
}
.hidden {
  display: none;
}
.date-picker-container,
.date-picker-month-container {
  display: flex;
}
.date-picker-month {
  flex: 1;
  padding: 1em 0.5em;
}
.date-picker-month tr:empty {
  display: none;
}
.date-picker-month-title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 1.2em;
  text-align: center;
}
.date-picker .date-picker-day {
  display: block;
  width: 30px;
  font-size: 1em;
  font-weight: 500;
  line-height: 30px;
  color: #111;
  text-align: center;
  text-decoration: none;
}
.date-picker .date-picker-day:hover {
  color: #fff;
  background-color: #000;
}
.date-picker .date-picker-past,
.date-picker .date-picker-past:hover {
  color: #999;
  background-color: transparent;
  cursor: default;
}
.date-picker .date-picker-today {
  font-weight: bold;
  color: #3182ce;
  background-color: #ebf8ff;
}
.date-picker-btn {
  appearance: none;
  padding: 0.25em;
  border: 0;
  font-size: 3em;
  color: #4299e1;
  background-color: transparent;
  cursor: pointer;
}
.date-picker-btn:hover {
  background-color: #bee3f8;
}
.date-picker-close {
  color: #f56565;
  background-color: transparent;
  font-size: 2.5em;
  padding-top: 0.5em;
}
.date-picker-close:hover {
  background-color: #fed7d7;
}
.date-picker-btn:disabled,
.date-picker-btn:disabled:hover {
  background-color: transparent;
  color: #a0aec0;
  cursor: default;
}
